{% extends "base.html" %}
{% load staticfiles %}
{% block title %}重置密码{% endblock %}

{% block css %}{% static 'css/index.css' %}{% endblock %}
{% block js %}{% static 'js/index.js' %} {% endblock %}

{% block content %}

    <div class="text-center vertical-middle-sm" style="margin-top: 50px">
        <p>因为您发送了重置密码的邮件,网站<a href="http:www.cycloneboy.com">cycloneboy.com</a>
        </p>
        <p>请根据下面的网址进行重置密码：</p>
        {{ protocol }}://{{ domain }}{{% url 'account:password_reset_confirm' uidb64=uid token=token}}
        <p>防止您忘记用户名，你的用户名是: {{ user.get_username }}</p>
        <p>感谢你您使用本网站</p>
        <p>cycloneboy.com 团队欢迎您的加入</p>
    </div>

{% endblock %}
