{% extends "base.html" %}
{% load staticfiles %}
{% block title %}重置密码{% endblock %}

{% block css %}{% static 'css/index.css' %}{% endblock %}
{% block js %}{% static 'js/index.js' %} {% endblock %}

{% block content %}

    <div class="text-center vertical-middle-sm" style="margin-top: 50px">
        <h1>忘记了你的密码？</h1>
        <p>请输入你的邮箱地址重新设置新的密码</p>
        <form class="form " action="." method="post">{% csrf_token %}

            {{ form.email.errors }}
            <div class="form-group">
                <label class="col-md-9 custom-control-label" for="id_email">邮箱地址：
                </label>
                <div class="col-md-9"> {{ form.email }}</div>

            </div>


            <button type="submit" class="btn btn-primary" >发送邮件</button>

        </form>
    </div>


{% endblock %}
