{% extends "base.html" %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}

{% block css %}{% static 'css/index.css' %}{% endblock %}
{% block js %}{% static 'js/index.js' %} {% endblock %}


{% block content %}

    <div class="text-center vertical-middle-sm" style="margin-top: 50px">
        <h1>修改密码</h1>
        <p>请输入你的旧密码，同时输入两次你的新密码</p>
        {% if form.new_password1.help_text %}
            <div class="text-left" style="margin-left: 400px">
                <p>{{ form.new_password1.help_text|safe }}</p>
            </div>
        {% endif %}
        <form class="form " action="." method="post">{% csrf_token %}
            <!--{{ form.as_p }}-->

            <div class="form-group">
                <label class="col-md-5 control-label ">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }}
                </label>
                <div class="col-md-7 text-right">{{ form.old_password }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label ">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                </label>
                <div class="col-md-7 text-right">{{ form.new_password1 }}</div>
            </div>

             <div class="form-group">
                <label class="col-md-5 control-label ">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                </label>
                <div class="col-md-7 text-right">{{ form.new_password2 }}</div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg" >修改密码</button>

        </form>
    </div>


{% endblock %}
