{% extends "base.html" %}
{% load staticfiles %}
{% block title %}发送邮件测试{% endblock %}

{% block css %}{% static 'css/index.css' %}{% endblock %}
{% block js %}{% static 'js/index.js' %} {% endblock %}

{% block content %}

    <div class="text-center vertical-middle-sm" style="margin-top: 80px">
        <h1>邮件发送测试</h1>
        {% if send_status %}
            <p class="text-success ">发送邮件成功</p>

        {% else %}
            <p class="text-danger">发送邮件失败，请检查后重新测试</p>
        {% endif %}
    </div>
{% endblock %}